.search-container {
    flex-grow: 1;
    /* margin-right: 20px; */
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: filter var(--transition-speed) ease;
  }
  
  [data-theme="dark"] .search-icon {
    filter: invert(1) brightness(1.5);
  }
  
  .search-input {
    padding: 10px 40px;
    font-size: 16px;
    border: 1px solid var(--color-button-shadow);
    background-color: var(--color-button-hover);
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    transition: width 0.3s ease;
    box-shadow: 0 4px 6px var(--color-button-shadow);
    color: var(--color-dark-black);
  }
  
  .search-input::placeholder {
    color: var(--color-dark-black);
    opacity: 1; /* Para Firefox */
  }
  
  /* Para navegadores más antiguos */
  .search-input::-webkit-input-placeholder {
    color: var(--color-dark-black);
  }
  .search-input::-moz-placeholder {
    color: var(--color-dark-black);
  }
  .search-input::-ms-input-placeholder {
    color: var(--color-dark-black);
  }