/* App.css */
.App {
  text-align: center;
}

/* Container for the tabs */
.tabs-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

/* List of tabs */
.tabs-list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

/* Style for each tab (trigger) */
.tabs-trigger {
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  color: var(--color-dark-black);
  transition: all 0.2s ease;
  position: relative;
  z-index: 1;
  border-radius: 3px;
  margin-bottom: 0.5em;
  transition: background-color 0.3s;
  font-size: 1.9em;
  margin-inline: 0.3rem;

}

/* Style for the active tab (usando aria-selected="true") */
.tabs-trigger[aria-selected="true"] {
  color: var(--color-dark-black);
  background-color: var(--selected);
}

.tabs-trigger:hover {
  color: var(--color-dark-black);
  background-color: var(--color-button-hover);
}

/* Line underneath tabs */
.tabs-list::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2rem);
  height: 4px;
  background-color: var(--color-button-shadow);
  z-index: 0;
}

/* Container for tab content */
.tabs-content-wrapper {
  padding: 1rem;
}

.tabs-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: 80vw;
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in-out; /* Smooth transition */
}

.tabs-content[data-state="open"] {
  opacity: 1; /* Visible when active */
  position: relative; /* Ensure correct stacking context */
}

.tabs-content[data-state="close"] {
  opacity: 0; /* Visible when active */
  position: relative; /* Ensure correct stacking context */
}